In [4]:
import pandas as pd
import numpy as np

Feature 1 Read data - Read data from a csv file.

In [2]:
df = pd.read_csv("Educational Attainment_asian.csv")
df.head()

,Gender,Characteristic,Total,None,1st - 4th grade,5th - 6th grade,7th - 8th grade,9th grade,10th grade,11th grade,High school graduate,"Some college, no degree","Associate's degree, occupational","Associate's degree, academic",Bachelor's degree,Master's degree,Professional degree,Doctoral degree
0,Both Sexes,\t 18 years and over,"15,954",133,64,152,185,120,139,406,"2,795","1,776",385,644,"5,219","2,828",332,777
1,Both Sexes,\t\t 18 to 24 years,"1,707",5,0,0,4,6,17,157,266,711,13,64,421,39,0,2
2,Both Sexes,\t 25 years and over,"14,247",128,64,152,181,114,122,249,"2,529","1,065",372,580,"4,798","2,788",332,775
3,Both Sexes,\t\t 25 to 29 years,"1,596",0,0,0,3,0,10,25,169,157,42,56,689,390,21,35
4,Both Sexes,\t\t 30 to 34 years,"1,679",2,0,7,9,5,8,15,157,111,43,85,564,524,44,106

Feature 2 - Manipulate and clean your data: Included a column in the database called Ethnicity. Included the value under this column called Asian.

In [8]:
df['Ethnicity']= "Asian"

        Gender        Characteristic   Total None  1st - 4th grade  \
0   Both Sexes  \t 18 years and over  15,954  133               64
1   Both Sexes  \t\t  18 to 24 years   1,707    5                0
2   Both Sexes  \t 25 years and over  14,247  128               64
3   Both Sexes  \t\t  25 to 29 years   1,596    0                0
4   Both Sexes  \t\t  30 to 34 years   1,679    2                0
5   Both Sexes  \t\t  35 to 39 years   1,696    2                0
6   Both Sexes  \t\t  40 to 44 years   1,505    6                5
7   Both Sexes  \t\t  45 to 49 years   1,483   10                2
8   Both Sexes  \t\t  50 to 54 years   1,298    6                2
9   Both Sexes  \t\t  55 to 59 years   1,161   10                7
10  Both Sexes  \t\t  60 to 64 years   1,119   22                4
11  Both Sexes  \t\t  65 to 69 years     902   20                2
12  Both Sexes  \t\t  70 to 74 years     733   14               14
13  Both Sexes  \t 75 years and over   1,076   36               27
14        Male  \t 18 years and over   7,432   55               24
15        Male  \t\t  18 to 24 years     826    1                0
16        Male  \t 25 years and over   6,605   53               24
17        Male  \t\t  25 to 29 years     830    0                0
18        Male  \t\t  30 to 34 years     805    0                0
19        Male  \t\t  35 to 39 years     786    2                0
20        Male  \t\t  40 to 44 years     700    3                3
21        Male  \t\t  45 to 49 years     711    5                0
22        Male  \t\t  50 to 54 years     581    5                0
23        Male  \t\t  55 to 59 years     556    1                6
24        Male  \t\t  60 to 64 years     491    9                0
25        Male  \t\t  65 to 69 years     390   10                2
26        Male  \t\t  70 to 74 years     283    6                3
27        Male  \t 75 years and over     472   13               11
28      Female  \t 18 years and over   8,523   78               40
29      Female  \t\t  18 to 24 years     881    4                0
30      Female  \t 25 years and over   7,642   74               40
31      Female  \t\t  25 to 29 years     766    0                0
32      Female  \t\t  30 to 34 years     874    2                0
33      Female  \t\t  35 to 39 years     910    0                0
34      Female  \t\t  40 to 44 years     805    3                2
35      Female  \t\t  45 to 49 years     772    5                2
36      Female  \t\t  50 to 54 years     717    Z                2
37      Female  \t\t  55 to 59 years     605    9                1
38      Female  \t\t  60 to 64 years     628   13                4
39      Female  \t\t  65 to 69 years     512   10                0
40      Female  \t\t  70 to 74 years     450    8               12
41      Female  \t 75 years and over     603   23               17

    5th - 6th grade  7th - 8th grade  9th grade 10th grade  11th grade  \
0               152              185        120        139         406
1                 0                4          6         17         157
2               152              181        114        122         249
3                 0                3          0         10          25
4                 7                9          5          8          15
5                 4               18          6         11          12
6                 8               20          6          9          10
7                 8               29         17          7           5
8                 5                9          6         16          26
9                19               19         18         14          21
10               32               11          4         10          19
11               18                8         22          2          31
12               14               22         14         12          21
13               37               33         17         23          63
14               46               60         47         55         181
15                0                1          0          5          66
16               46               59         47         50         114
17                0                0          0          7          15
18                0                2          3          8          13
19                2                9          3          7           6
20                6                2          4          5           5
21                6               12         10          2           1
22                2                4          4          5           4
23               12                6          3          9          11
24                3                4          3          3           5
25                4                2         10          0           9
26                1                9          5          2          10
27               10                8          1          2          35
28              106              125         74         84         226
29                0                3          6         12          91
30              106              122         67         71         135
31                0                3          0          3          10
32                7                7          2          Z           2
33                2                8          3          4           6
34                2               19          1          5           5
35                2               17          7          4           4
36                3                5          2         11          22
37                7               13         15          5          10
38               29                7          1          7          14
39               14                6         12          2          22
40               12               13          9         10          11
41               27               25         16         20          29

   High school graduate Some college, no degree  \
0                 2,795                   1,776
1                   266                     711
2                 2,529                   1,065
3                   169                     157
4                   157                     111
5                   223                     131
6                   199                     120
7                   242                      94
8                   251                     108
9                   247                      94
10                  324                      75
11                  269                      68
12                  174                      45
13                  274                      63
14                1,250                     866
15                  149                     356
16                1,101                     510
17                   96                      94
18                   77                      60
19                   98                      60
20                   90                      42
21                  126                      39
22                  114                      46
23                   98                      57
24                  152                      37
25                  110                      28
26                   47                      21
27                   94                      27
28                1,545                     910
29                  117                     355
30                1,427                     555
31                   73                      63
32                   80                      51
33                  125                      71
34                  109                      78
35                  116                      55
36                  137                      62
37                  150                      37
38                  172                      38
39                  159                      40
40                  126                      24
41                  180                      36

    Associate's degree, occupational  Associate's degree, academic  \
0                                385                           644
1                                 13                            64
2                                372                           580
3                                 42                            56
4                                 43                            85
5                                 42                            73
6                                 38                            40
7                                 38                            45
8                                 33                            64
9                                 24                            56
10                                29                            54
11                                36                            37
12                                20                            36
13                                26                            34
14                               144                           280
15                                 2                            17
16                               142                           263
17                                16                            37
18                                22                            43
19                                17                            21
20                                11                            28
21                                11                            16
22                                11                            27
23                                11                            26
24                                11                            16
25                                18                            14
26                                 5                            14
27                                 8                            20
28                               241                           364
29                                11                            47
30                               230                           316
31                                26                            19
32                                20                            41
33                                25                            51
34                                27                            12
35                                26                            29
36                                22                            37
37                                13                            30
38                                18                            37
39                                18                            23
40                                15                            23
41                                18                            14

   Bachelor's degree Master's degree  Professional degree  Doctoral degree  \
0              5,219           2,828                  332              777
1                421              39                    0                2
2              4,798           2,788                  332              775
3                689             390                   21               35
4                564             524                   44              106
5                624             412                   32              107
6                532             381                   47               86
7                489             345                   57               95
8                443             216                   17               96
9                344             170                   30               85
10               359             109                   18               48
11               250              87                   22               31
12               230              75                   21               21
13               273              81                   23               65
14             2,337           1,455                  182              450
15               203              25                    0                0
16             2,133           1,430                  182              450
17               326             208                   15               15
18               237             259                   20               61
19               295             175                   21               70
20               247             183                   21               51
21               210             200                   28               44
22               188             119                    8               44
23               138              94                   21               61
24               151              67                    7               23
25               112              37                   15               19
26                85              44                   14               17
27               143              45                   13               44
28             2,883           1,372                  150              327
29               218              14                    0                2
30             2,665           1,358                  150              325
31               362             182                    6               20
32               328             265                   24               44
33               329             237                   12               37
34               285             197                   26               35
35               279             145                   29               50
36               256              97                    9               51
37               206              75                    9               24
38               208              43                   11               25
39               138              49                    7               12
40               144              31                    7                5
41               131              37                   10               21

   Ethnicity
0      Asian
1      Asian
2      Asian
3      Asian
4      Asian
5      Asian
6      Asian
7      Asian
8      Asian
9      Asian
10     Asian
11     Asian
12     Asian
13     Asian
14     Asian
15     Asian
16     Asian
17     Asian
18     Asian
19     Asian
20     Asian
21     Asian
22     Asian
23     Asian
24     Asian
25     Asian
26     Asian
27     Asian
28     Asian
29     Asian
30     Asian
31     Asian
32     Asian
33     Asian
34     Asian
35     Asian
36     Asian
37     Asian
38     Asian
39     Asian
40     Asian
41     Asian

In [9]:
df.columns

Index(['Gender', 'Characteristic', 'Total', 'None', '1st - 4th grade',
       '5th - 6th grade', '7th - 8th grade', '9th grade', '10th grade',
       '11th grade', 'High school graduate', 'Some college, no degree',
       'Associate's degree, occupational', 'Associate's degree, academic',
       'Bachelor's degree', 'Master's degree', 'Professional degree',
       'Doctoral degree', 'Ethnicity'],
      dtype='object')

In [10]:
display(df.Ethnicity)

0     Asian
1     Asian
2     Asian
3     Asian
4     Asian
5     Asian
6     Asian
7     Asian
8     Asian
9     Asian
10    Asian
11    Asian
12    Asian
13    Asian
14    Asian
15    Asian
16    Asian
17    Asian
18    Asian
19    Asian
20    Asian
21    Asian
22    Asian
23    Asian
24    Asian
25    Asian
26    Asian
27    Asian
28    Asian
29    Asian
30    Asian
31    Asian
32    Asian
33    Asian
34    Asian
35    Asian
36    Asian
37    Asian
38    Asian
39    Asian
40    Asian
41    Asian
Name: Ethnicity, dtype: object

Feature 2 - Manipulate and clean your data: Changed the value under column Gender from "Both Sexes" to "Both Genders" for a more consistent terminology.

In [11]:
df['Gender'] = df['Gender'].replace(['Both Sexes'], 'Both Genders')

In [12]:
display(df.Gender)

0     Both Genders
1     Both Genders
2     Both Genders
3     Both Genders
4     Both Genders
5     Both Genders
6     Both Genders
7     Both Genders
8     Both Genders
9     Both Genders
10    Both Genders
11    Both Genders
12    Both Genders
13    Both Genders
14            Male
15            Male
16            Male
17            Male
18            Male
19            Male
20            Male
21            Male
22            Male
23            Male
24            Male
25            Male
26            Male
27            Male
28          Female
29          Female
30          Female
31          Female
32          Female
33          Female
34          Female
35          Female
36          Female
37          Female
38          Female
39          Female
40          Female
41          Female
Name: Gender, dtype: object